<div class="row" style="margin: 20px 0;">
  <div class="col-12" style="text-align: center;">
    <h1 class="gamerssns" style="color: black; font-size: 70px;">Gamers Sns</h1>
  </div>
</div>

<div class="row h-auto">
  <div class="col-12 col-sm-4" style="text-align: center; background-color: #dbfffb;">
    <i class="fas fa-book-open fa-5x" style="margin: 20px 0;"></i>
    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">アルバム</strong></p>
    <p>自分専用のアルバムとして使用できます。<br />
    その時の一言と共にスクリーンショットを保存しましょう。<br />
    いつでも振り返ることができます。
  </div>
  <div class="col-12 col-sm-4" style="text-align: center; background-color: #afbcee;">
    <i class="fas fa-people-arrows fa-5x" style="margin: 20px 0;"></i>
    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">共有</strong></p>
    <p>他のユーザーと共有しましょう。<br />
    投稿することで共有されます。<br />
    すごい瞬間や、面白い瞬間を共有しましょう。
  </div>
  <div class="col-12 col-sm-4" style="text-align: center; background-color: #dbfff0;">
    <i class="far fa-handshake fa-5x" style="margin: 20px 0;"></i>
    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">SNS</strong></p>
    <p>写真共有SNSとなります。</br>
    フォローやいいね、コメント機能もあります。</br>
    たくさんの仲間と楽しみましょう。
  </div>
</div>