<div class="row" style="margin: 20px 0;">
  <div class="col-12" style="text-align: center;">
    <h1 class="gamerssns" style="color: black; font-size: 70px;">Gamers Sns</h1>
    <h4 style="color: black;">～ ようこそGamers Snsへ ～</h4>
  </div>
</div>

<div class="row" style="margin: auto;">
  <div class="col-sm-8 col-md-7 col-lg-5 box" style="margin: auto; background-color: white; border: solid 1px black;">
    <p style="margin: auto; width: 80%; text-align: center; font-size: 30px; border-bottom: solid 2px black; padding: 5px 0;">INDEX</p>
    <div class="font-size: 20px; margin-top: 20px;">
      <p>1. <%= link_to 'Gamers Snsとは？', homes_about_path, style: "color: black; text-decoration: none;", id: "about_link" %></p>
      <p>2. <%= link_to 'ログイン', new_user_session_path, style: "color: black; text-decoration: none;", id: "login_link" %></p>
      <p>3. <%= link_to '新規登録', new_user_registration_path, style: "color:black; text-decoration:none;", id: "new_user_link" %></p>
    </div>
  </div>
</div>