<h1 style="text-align: center; maegin-top: 20%">お問い合わせ内容を送信しました。</h1>
<h3 style="text-align: center; margin-top 20px;">
  <%= link_to user_path(current_user), style: "color: black;" do %>
    <i class="far fa-hand-point-left">マイページの戻る</i>
  <% end %>
</h3>