<% if photo.user_id == current_user.id && comment.user_id != current_user.id %>
  <% if comment.thanks == false %>
    <%= link_to photo_comment_path(photo, comment, thanks: true), style: "color: black;", method: :put, remote: true do %>
      <span class="fa-stack" style="font-size: 1em;">
        <i class="far fa-smile-wink fa-stack-2x"></i>
      </span>
    <% end %>
  <% else %>
    <%= link_to photo_comment_path(photo, comment, thanks: false), style: "color: black;", method: :put, remote: true do %>
      <span class="fa-stack" style="font-size: 1em;">
        <i class="far fa-smile-wink fa-stack-2x"></i>
        <i class="fas fa-smile-wink fa-stack-2x" style="color: yellow;"></i>
      </span>
    <% end %>
  <% end %>
<% elsif comment.thanks == true %>
  <span class="fa-stack" style="font-size: 1em;">
    <i class="far fa-smile-wink fa-stack-2x"></i>
    <i class="fas fa-smile-wink fa-stack-2x" style="color: yellow;"></i>
  </span>
<% end %>