/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.navbar-nav {
  .nav-link {
    color: ivory;
    margin-left: 10px;
  }
  .nav-link:hover {
    color: black;
    margin-left: none;
    padding-left: 5px;
    border-left: solid 3px black;
  }
}

.navbar-toggler {
  border-color: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (max-width:767px) {
  .navbar-brand {
    padding-left: 72px;
  }
}
@media screen and (max-width:768px) {
  .admin_top {
    padding-left: 0;
    margin: auto;
  }
}

.gamerssns {
  font-family: 'Playball', cursive;
  letter-spacing: 0.03em;
  color: ivory;
  font-size: 1.5em;
}
.gamerssns:hover {
  color: ivory;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.sidebar_fixed {
  position: sticky;
  top: 60px;
}

.form-row {
  margin-top: 10px;
}

.pagination {
  justify-content: center;
}