// Place all the styles related to the users/Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact_box {
  margin-left: auto;
  background: #dbffdb;
  border: solid 3px #5bb7ae;
  border-radius: 25px;
}