// Place all the styles related to the users/Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  padding: 1em 1em;
  margin: 1em 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.title h3 {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 20px;
}

.radius {
  border-radius: 50%;
  margin: 5px 0;
  width: 65%;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.box {
  margin-left: 50px;
  background: #dbffdb;
  border: solid 3px #5bb7ae;
  border-radius: 25px;
}
@media screen and (max-width:900px) {
  .box {
    margin: auto;
  }
}

.picture_stop {
  padding:7px;
  border:1px solid #ccc;
  background:#fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
}

.show_box {
  margin: auto;
  background: #dbffdb;
  border: solid 3px #5bb7ae;
  border-radius: 25px;
}